.profile__top {
    position: relative;
  }
 
  .profile__top > .MuiAvatar-root {
    max-width: 160px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
   }